.logout {
    width: max-content;
    height: 100%;
    color: var(--red);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logout__icon {
    width: 20px;
    height: 20px;
    margin-left: var(--margin-between-elmt);
}

@media screen and (max-width: 480px) {
    .logout > span {
        display: none;
    }
}