.logout {
    width: max-content;
    height: 20px;
    color: var(--red);
    cursor: pointer;
    display: flex;
}

.logout__icon {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0 0 1px var(--red));
    margin-left: var(--margin-between-elmt);
}

@media screen and (max-width: 480px) {
    .logout > span {
        display: none;
    }
}